@section endBodyArea{
<script src="~/assets/custom/js/OrderScript.js"></script>
<script>getOrders();</script>
}

<div class="body_scroll">
    <div class="container-fluid">
        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>Siparişler</h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table id="orderTable" class="table table-bordered table-striped table-hover dataTable js-exportable" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Mağaza</th>
                                        <th>Sipariş Numarası</th>
                                        <th>Müşteri Adı</th>
                                        <th>Müşteri Soyadı</th>
                                        <th>E-Posta</th>
                                        <th>Telefon</th>
                                        <th>Tarih</th>
                                        <th>Döviz Tipi</th>
                                        <th>Tutar</th>
                                        <th>Entegrasyon No</th>
                                        <th>Aktarım Durumu</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@await Html.PartialAsync("../Shared/PartialViews/_OrderDetailPartial.cshtml")
