@section endBodyArea{
<script src="~/assets/custom/js/OrderScript.js"></script>
<script>getOrders();</script>
}

<div class="body_scroll">
    <div class="container-fluid">
        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Siparişler</strong></h2>
 @*                       <ul class="header-dropdown">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-127px, 35px, 0px);">
                                    <li><a href="javascript:void(0);" onclick="startAllTransfer();">Tümünü Aktar</a></li>
                                    <li><a href="javascript:void(0);" onclick="startSelectedTransfer();">Seçilenleri Aktar</a></li>
                                </ul>
                            </li>
                        </ul>*@
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table id="orderTable" class="table table-bordered table-striped table-hover dataTable js-exportable" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Mağaza</th>
                                        <th>Sipariş Numarası</th>
                                        <th>Ad Soyad</th>
                                        <th>E-Posta</th>
                                        <th>Telefon</th>
                                        <th>Tarih</th>
                                        <th>Döviz Tipi</th>
                                        <th>Tutar</th>
                                        <th>Entegrasyon No</th>
                                        <th>Aktarım Durumu</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@await Html.PartialAsync("../Shared/PartialViews/_OrderDetailPartial.cshtml")
