@section headArea{

}

@section endBodyArea{
<script src="~/assets/custom/js/UserScript.js"></script>
<script>
    getUsers();
</script>
}

<div class="body_scroll">
    <div class="container-fluid">
        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>Kullanıcılar</h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table id="userTable" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <th>Ad</th>
                                        <th>Soyad</th>
                                        <th>Kullanıcı Adı</th>
                                        <th>E-Posta</th>
                                        <th>Şifre</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
