<div class="modal fade" id="masterProductListModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document" style="max-width: 30%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">Ürün Eşleştir</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <input id="otherCode" type="hidden" />
                    <table id="masterProductTable" class="table-striped no-footer dataTable" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Eşleşen Kod</th>
                                <th>Master Kod</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">KAPAT</button>
            </div>
        </div>
    </div>
</div>