<div class="modal fade" id="orderDetailModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">Sipariş Detayı</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="orderDetailTable" class="table table-striped table-bordered display hover" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Ürün</th>
                                <th>Mağaza Kodu</th>
                                <th>Logo Kodu</th>
                                <th>Sipariş Numarası</th>
                                <th>Miktar</th>
                                <th>Birim</th>
                                <th>Fiyat</th>
                                <th>KDV Oranı</th>          
                                <th>Toplam</th>
                                <th>Döviz Tipi</th>
                                <th>Eşleştirme</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>